* {
  box-sizing: border-box;
}

#slider, .slider {
  position: relative;
  border-radius: 5px;
  background: #E0E0E0;
  background: linear-gradient(left top, #E0E0E0, #EEEEEE);
  width: 100%;
  height: 15px;
  margin: 5px;
}

.slider > *:first-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.item-name {
  margin-right: 10px;
}

.item-value {
  font-weight: bold;
}

.handle {
  width: 4px;
  border: 1px solid white;
  height: 25px;
  border-radius: 3px;
  position: absolute;
  top: -5px;
  background: darkgray;
  cursor: pointer;
}

.line {
  position: absolute;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  height: 15px;
}

.line-1, .line_1 {
  background: #3F1F2B;
}

.line-2, .line_2 {
  background: #DB162F;
}

.line-3, .line_3 {
  background: #DBDFAC;
}

.line-4, .line_4 {
  background: #5F758E;
}

.line-5, .line_5 {
  background: #383961;
}

.line-5, .line_6 {
  background: darkcyan;
}

.line-5, .line_7 {
  background: #9293A8;
}

#add-more, #remove {
  margin-top: 20px;
}

#remove-buttons {
  margin-top: 20px;
}

.remove {
  display: block;
  margin: 10px 0;
}

.client-slider {
  max-width: 300px;
}
